div#content {
	padding-top: 50px; 
	text-align: center; 
}

div#main {
	padding-top: 50px; 
	text-align: center;
}

div {
	text-align: center; 
}

h2 {
	text-align: left;
}

div#icon-user {
	text-align: left;
	padding-bottom: 5px;
}