body {
	text-align: center;
	background-color: #d0e4fe;
}

h1 {
	color: blue;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}

form {
	font-family: "arial";
    font-size: 15px;
}

div#footer {
	text-align: center;
}